:root{
    --primary-color: #ffeb3b;
    --secondary-color: #042e69;
}
*{
    margin : 0;
    padding : 0;
}

.hero-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    border: 1px solid red;
    position: relative;
}
.hero-slider{
    position: absolute;
    width:100%;
    height: 100%;
    border: 1px solid blue;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeAnimation 12s infinite;
}

.slide:nth-child(2) {
      animation-delay: 4s;
   }
.slide:nth-child(3) {
     animation-delay: 8s;
}

@keyframes fadeAnimation {
    0% { opacity: 0; }
    10% { opacity: 1; }  /* Fade in */
    33% { opacity: 1; }  /* Stay visible */
    43% { opacity: 0; }  /* Fade out */
    100% { opacity: 0; } /* Stay hidden until loop restarts */
}
.header-container{
    width: 100%;
    height: 400px;
    border: 1px solid red;
    position: absolute;
    z-index: 1;
}
.nav-top-bar{
    width: 100%;
    height: 200px;
    border: 1px solid red;
    display: flex;
    justify-content: end;
}
.top-bar{
    width: 95%;
    height: 112px;
    background-color: var(--secondary-color);
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: 20px;
}