:root{
    --primary-color: #ffeb3b;
    --secondary-color: #042e69;
    --nav-link-color: rgba(28, 28, 28, 0.8);
}
*{
    margin : 0;
    padding : 0;
}

.hero-container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero-slider{
    position: absolute;
    width:100%;
    height: 100%;
}
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    animation: fadeAnimation 12s infinite;
}

.slide:nth-child(2) {
      animation-delay: 4s;
   }
.slide:nth-child(3) {
     animation-delay: 8s;
}

@keyframes fadeAnimation {
    0% { opacity: 0; }
    10% { opacity: 1; }  /* Fade in */
    33% { opacity: 1; }  /* Stay visible */
    43% { opacity: 0; }  /* Fade out */
    100% { opacity: 0; } /* Stay hidden until loop restarts */
}
.header-container{
    width: 100%;
    position: absolute;
    z-index: 1;
}
.nav-top-bar{
    width: 100%;
    display: flex;
    justify-content: end;
}
.top-bar{
    width: 95%;
    height: 112px;
    background-color: var(--secondary-color);
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: 20px;
    display:flex;
}
.logo-col{
   width: 37%;
   padding-left: 8%;
   display: flex;
   align-items: center;
}
.logo-col > img{
    width: 230px;
    height: 64%;
}
.contact-col{
    width: 50%;
}
.contact-container{
    display: flex;
    height: 100%;
    justify-content: end;
}
.tel-col{
    width: 39% !important;
}
.address-col{
    width: 55%;
}
.tel-row{
    display: flex;
    height: 100%;
    margin-right: 40px;
}
.address-container{
    display:flex;
    height: 100%;
}
.contact-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}
.location-icon{
    width: 15%;
}
.contact-icon > i{
   font-size: 35px;
   color: var(--primary-color);
}
.contact-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%
}
.contact-text > p:first-child {
    font-size: 16px;
    color: #a3a3a3;
    margin-bottom: 12px;
}

.contact-text > p:nth-child(2){
    font-size: 22px;
    color: #ffffff;
    font-weight: 500;
}
.header-nav{
    width : 93%;
    height: 55px;
    background-color: var(--primary-color);
    clip-path: polygon(0% 0%, 100% 0%, 96% 100%, 0% 100%);
    margin-top: 8px;
}
.header-nav{
    display: flex;
}
.social-col{
    width: 20%;
}
.social-col > ul{
    display: flex;
    justify-content: center;
    list-style: none;
    height: 100%;
    align-items: center;
}
.link-icon{
    padding: 10px;
}
.link-icon > i {
    font-size: 20px;
    color: var(--secondary-color);
    cursor: pointer;
}

.link-list-col{
    width: 67%;
}
.link-list-col > ul{
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
    height : 100%;
}
.link-list-col > ul > li{
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: var(--nav-link-color);
    font-weight: 600;
}
.nav-icon{
    width: 10%;
}
.nav-icon > ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.nav-icon > ul >li{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.nav-icon .fa-cart-arrow-down{
    position: relative;
}
.nav-icon .fa-cart-arrow-down::after{
       content: attr(data-count);
       position: absolute;
       top: -19px;
       right: -17px;
       background-color: var(--secondary-color);
       padding: 5px;
       font-size: 12px;
       border-radius: 0px;
       color: var(--primary-color);
}